$primary-color-grey: #33323d;
$primary-color-blue: #203a4c;
$primary-color-cyan: #5fb4a2;
$sec-color-verylightgrey: #fafafa;
$sec-color-lightgrey: #eaeaeb;
$sec-color-brightred: #f43030;
$h1: "Ibarra Real Nova", serif;
$body: "Public Sans";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page.wrapper {
  overflow: hidden;
}

nav {
  height: 80px;
  padding: 75px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1022px) {
    padding: 80px 40px;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    max-width: 1294px;
    margin: 0 auto;

    @media screen and (max-width: 1303px) {
      width: 1020px;
    }

    @media screen and (max-width: 1022px) {
      width: 800px;
    }
  }

  .row,
  .col {
    display: flex;
    align-items: center;
    height: auto;
  }

  .col.left {
    justify-content: flex-start;

    img {
      width: 78px;
    }
  }

  .row {
    justify-content: space-between;
    max-width: 1440px;
    height: 100%;
  }

  .col.right {
    justify-content: flex-end;
  }

  li {
    text-decoration: none;
    list-style: none;
  }

  li a {
    text-decoration: none;
    list-style: none;
    color: $primary-color-grey;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: $body;
    font-weight: 200;
  }
}

.menu {
  display: flex;
  gap: 22px;
}

//block hero 1

.block.hero.style-1 {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    @media screen and (max-width: 1024px) {
      padding: 0px 40px;
    }
  }

  .row {
    position: relative;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 816px) {
      flex-direction: column;
    }

    @media screen and (max-width: 1022px) {
      flex-direction: column;
    }

    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .desktop.mobile.image {
        display: none;

        @media screen and (max-width: 1022px) {
          display: flex;
          width: 800px;
        }

        @media screen and (max-width: 816px) {
          display: flex;
          width: auto;
        }

        @media screen and (max-width: 375px) {
          width: 300px;
        }
      }

      .desktop.tablet.image {
        display: none;

        @media screen and (max-width: 1303px) {
          display: flex;
          width: 1020px;
        }
        @media screen and (max-width: 1022px) {
          display: none;
        }
      }

      .desktop.image {
        width: 1293px;
        max-width: 1775px;
        display: flex;

        @media screen and (max-width: 1303px) {
          display: none;
        }

        // @media screen and (max-width: 800px) {
        //   display: block;
        //   max-width: 100%;
        //   margin-left: auto;
        //   margin-right: auto;
        // }
      }

      &:nth-child(2) {
        display: flex;
        background-color: white;
        position: absolute;
        flex-direction: column;
        bottom: 0px;
        left: 0;
        height: 413px;
        width: 512px;


        @media screen and (max-width: 1303px) {
          width: 755px;
          height: 412px;
        }

        @media screen and (max-width: 1022px) {
          position: relative;
          width: 700px;
          height: 412px;
        }

        @media screen and (max-width: 816px) {
          width: 648px;
        }

        @media screen and (max-width: 624px) {
          width: 500px;
          margin-left: 53px;
        }

        @media screen and (max-width: 375px) {
          width: 648px;
        }

        h1 {
          padding-bottom: 61px;
          font-family: $h1;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: -0.45px;
          line-height: 50px;
          color: $primary-color-grey;
          width: 428px;
          position: absolute;
          left: 0px;

          @media screen and (max-width: 1303px) {
            font-size: 60px;
            width: 660px;
            line-height: 65px;
          }

          @media screen and (max-width: 816px) {
            font-size: 55px;
            width: 660px;
            line-height: 65px;
          }

          @media screen and (max-width: 624px) {
            width: 500px;
          }

          @media screen and (max-width: 375px) {
            font-size: 50px;
            width: 455px;
            line-height: 65px;
          }
        }

        a {
          display: flex;
        }

        img {
          width: 230px;
          position: absolute;
          bottom: 0px;
          left: 0px;

          @media screen and (max-width: 800px) {
            margin-top: 30px;
            width: 290px;
          }
        }
      }
    }
  }
}
