* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page.wrapper {
  overflow: hidden;
}

nav {
  height: 80px;
  padding: 75px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1022px) {
  nav {
    padding: 80px 40px;
  }
}
nav .wrapper {
  height: 100%;
  width: 100%;
  max-width: 1294px;
  margin: 0 auto;
}
@media screen and (max-width: 1303px) {
  nav .wrapper {
    width: 1020px;
  }
}
@media screen and (max-width: 1022px) {
  nav .wrapper {
    width: 800px;
  }
}
nav .row,
nav .col {
  display: flex;
  align-items: center;
  height: auto;
}
nav .col.left {
  justify-content: flex-start;
}
nav .col.left img {
  width: 78px;
}
nav .row {
  justify-content: space-between;
  max-width: 1440px;
  height: 100%;
}
nav .col.right {
  justify-content: flex-end;
}
nav li {
  text-decoration: none;
  list-style: none;
}
nav li a {
  text-decoration: none;
  list-style: none;
  color: #33323d;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Public Sans";
  font-weight: 200;
}
@media (max-width: 558px) {
  nav li a {
    display: none;
  }
}

.menu_button {
  position: absolute;
  top: 61px;
  right: 19px;
  width: 50px;
  height: 40px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
  display: none;
}
@media (max-width: 558px) {
  .menu_button {
    display: block;
  }
  .menu_button .hamburger {
    position: relative;
    height: 1px;
    width: 21px;
    background-color: #33323d;
    display: flex;
    flex: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    border-radius: 5px;
  }
}

.menu {
  display: flex;
  gap: 22px;
}

.block.hero.style-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .block.hero.style-1 .wrapper {
    padding: 0px 40px;
  }
}
.block.hero.style-1 .row {
  position: relative;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 816px) {
  .block.hero.style-1 .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 1022px) {
  .block.hero.style-1 .row {
    flex-direction: column;
  }
}
.block.hero.style-1 .row .col {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.block.hero.style-1 .row .col .desktop.mobile.image {
  display: none;
}
@media screen and (max-width: 1022px) {
  .block.hero.style-1 .row .col .desktop.mobile.image {
    display: flex;
    width: 800px;
  }
}
@media screen and (max-width: 816px) {
  .block.hero.style-1 .row .col .desktop.mobile.image {
    display: flex;
    width: auto;
  }
}
@media screen and (max-width: 624px) {
  .block.hero.style-1 .row .col .desktop.mobile.image {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .block.hero.style-1 .row .col .desktop.mobile.image {
    width: 428px;
  }
}
@media screen and (max-width: 450px) {
  .block.hero.style-1 .row .col .desktop.mobile.image {
    width: 341px;
  }
}
@media screen and (max-width: 375px) {
  .block.hero.style-1 .row .col .desktop.mobile.image {
    width: 341px;
  }
}
.block.hero.style-1 .row .col .desktop.tablet.image {
  display: none;
}
@media screen and (max-width: 1303px) {
  .block.hero.style-1 .row .col .desktop.tablet.image {
    display: flex;
    width: 1020px;
  }
}
@media screen and (max-width: 1022px) {
  .block.hero.style-1 .row .col .desktop.tablet.image {
    display: none;
  }
}
.block.hero.style-1 .row .col .desktop.image {
  width: 1293px;
  max-width: 1775px;
  display: flex;
}
@media screen and (max-width: 1303px) {
  .block.hero.style-1 .row .col .desktop.image {
    display: none;
  }
}
.block.hero.style-1 .row .col:nth-child(2) {
  display: flex;
  background-color: white;
  position: absolute;
  flex-direction: column;
  bottom: 0px;
  left: 0;
  height: 413px;
  width: 512px;
}
@media screen and (max-width: 1303px) {
  .block.hero.style-1 .row .col:nth-child(2) {
    width: 755px;
    height: 412px;
  }
}
@media screen and (max-width: 1022px) {
  .block.hero.style-1 .row .col:nth-child(2) {
    position: relative;
    width: 700px;
    height: 412px;
  }
}
@media screen and (max-width: 816px) {
  .block.hero.style-1 .row .col:nth-child(2) {
    width: 648px;
  }
}
@media screen and (max-width: 624px) {
  .block.hero.style-1 .row .col:nth-child(2) {
    width: 500px;
    margin-left: -5px;
  }
}
@media screen and (max-width: 500px) {
  .block.hero.style-1 .row .col:nth-child(2) {
    width: 450px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 450px) {
  .block.hero.style-1 .row .col:nth-child(2) {
    width: 340px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 375px) {
  .block.hero.style-1 .row .col:nth-child(2) {
    width: 340px;
    margin-left: 0px;
  }
}
.block.hero.style-1 .row .col:nth-child(2) h1 {
  padding-bottom: 61px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: -0.45px;
  line-height: 50px;
  color: #33323d;
  width: 428px;
  position: absolute;
  left: 0px;
}
@media screen and (max-width: 1303px) {
  .block.hero.style-1 .row .col:nth-child(2) h1 {
    font-size: 60px;
    width: 660px;
    line-height: 65px;
  }
}
@media screen and (max-width: 816px) {
  .block.hero.style-1 .row .col:nth-child(2) h1 {
    font-size: 55px;
    width: 660px;
    line-height: 65px;
  }
}
@media screen and (max-width: 624px) {
  .block.hero.style-1 .row .col:nth-child(2) h1 {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .block.hero.style-1 .row .col:nth-child(2) h1 {
    font-size: 55px;
    width: 431px;
    line-height: 56px;
  }
}
@media screen and (max-width: 450px) {
  .block.hero.style-1 .row .col:nth-child(2) h1 {
    font-size: 50px;
    width: 350px;
    line-height: 55px;
  }
}
@media screen and (max-width: 375px) {
  .block.hero.style-1 .row .col:nth-child(2) h1 {
    font-size: 50px;
    width: 350px;
    line-height: 55px;
  }
}
.block.hero.style-1 .row .col:nth-child(2) a {
  display: flex;
}
.block.hero.style-1 .row .col:nth-child(2) img {
  width: 230px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
@media screen and (max-width: 800px) {
  .block.hero.style-1 .row .col:nth-child(2) img {
    margin-top: 30px;
    width: 290px;
  }
}

/*# sourceMappingURL=styles.css.map */
