$primary-color-grey: #33323d;
$primary-color-blue: #203a4c;
$primary-color-cyan: #5fb4a2;
$sec-color-verylightgrey: #fafafa;
$sec-color-lightgrey: #eaeaeb;
$sec-color-brightred: #f43030;
$h1: "Ibarra Real Nova", serif;
$body: "Public Sans";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin btn($btn: basic) {
  background: white;
  border: 1px solid $primary-color-grey;
  color: $primary-color-grey;
  font-size: 16px;
  font-family: $body;
  padding: 19px 40px;
  text-decoration: none;
  height: 300px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.page.wrapper {
  overflow: hidden;
}

.wrapper {
  margin: auto;
}

nav {
  height: 80px;
  padding: 75px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1022px) {
    padding: 80px 40px;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    max-width: 1294px;
    margin: 0 auto;

    @media screen and (max-width: 1303px) {
      width: 1020px;
    }

    @media screen and (max-width: 1022px) {
      width: 800px;
    }
  }

  .row,
  .col {
    display: flex;
    align-items: center;
    height: auto;
  }

  .col.left {
    justify-content: flex-start;

    img {
      width: 78px;
    }
  }

  .row {
    justify-content: space-between;
    max-width: 1440px;
    height: 100%;
  }

  .col.right {
    justify-content: flex-end;
  }

  li {
    text-decoration: none;
    list-style: none;
  }

  li a {
    text-decoration: none;
    list-style: none;
    color: $primary-color-grey;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: $body;
    font-weight: 200;

    @media (max-width: 558px) {
      display: none;
    }
  }
}

.menu_button {
  position: absolute;
  top: 61px;
  right: 19px;
  width: 50px;
  height: 40px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
  display: none;

  @media (max-width: 558px) {
    display: block;

    .hamburger {
      position: relative;
      height: 1px;
      width: 21px;
      background-color: $primary-color-grey;
      display: flex;
      flex: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      margin-bottom: 3px;
      border-radius: 5px;
    }
  }
}

.menu {
  display: flex;
  gap: 22px;
}

//block hero 1

.block.hero.style-1 {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    @media screen and (max-width: 1024px) {
      padding: 0px 40px;
    }
  }

  .row {
    position: relative;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1022px) {
      flex-direction: column;
    }

    @media screen and (max-width: 816px) {
      flex-direction: column;
    }

    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .desktop.mobile.image {
        display: none;

        @media screen and (max-width: 1022px) {
          display: flex;
          width: 800px;
        }

        @media screen and (max-width: 816px) {
          display: flex;
          width: auto;
        }

        @media screen and (max-width: 624px) {
          width: 500px;
        }
        @media screen and (max-width: 500px) {
          width: 428px;
        }

        @media screen and (max-width: 450px) {
          width: 341px;
        }

        @media screen and (max-width: 375px) {
          width: 341px;
        }
      }

      .desktop.tablet.image {
        display: none;

        @media screen and (max-width: 1303px) {
          display: flex;
          width: 1020px;
        }
        @media screen and (max-width: 1022px) {
          display: none;
        }
      }

      .desktop.image {
        width: 1293px;
        max-width: 1775px;
        display: flex;

        @media screen and (max-width: 1303px) {
          display: none;
        }
      }

      &:nth-child(2) {
        display: flex;
        background-color: white;
        position: absolute;
        flex-direction: column;
        bottom: 0px;
        left: 0;
        height: 413px;
        width: 512px;

        @media screen and (max-width: 1303px) {
          width: 755px;
          height: 412px;
        }

        @media screen and (max-width: 1022px) {
          position: relative;
          width: 700px;
          height: 412px;
        }

        @media screen and (max-width: 816px) {
          width: 648px;
        }

        @media screen and (max-width: 624px) {
          width: 500px;
          margin-left: -5px;
        }
        @media screen and (max-width: 500px) {
          width: 450px;
          margin-left: 20px;
        }

        @media screen and (max-width: 450px) {
          width: 340px;
          margin-left: 0px;
        }

        @media screen and (max-width: 375px) {
          width: 340px;
          margin-left: 0px;
        }

        h1 {
          padding-bottom: 61px;
          font-family: $h1;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: -0.45px;
          line-height: 50px;
          color: $primary-color-grey;
          width: 428px;
          position: absolute;
          left: 0px;

          @media screen and (max-width: 1303px) {
            font-size: 60px;
            width: 660px;
            line-height: 65px;
          }

          @media screen and (max-width: 816px) {
            font-size: 55px;
            width: 660px;
            line-height: 65px;
          }

          @media screen and (max-width: 624px) {
            width: 500px;
          }

          @media screen and (max-width: 500px) {
            font-size: 55px;
            width: 431px;
            line-height: 56px;
          }

          @media screen and (max-width: 450px) {
            font-size: 50px;
            width: 350px;
            line-height: 55px;
          }

          @media screen and (max-width: 375px) {
            font-size: 50px;
            width: 350px;
            line-height: 55px;
          }
        }

        a {
          display: flex;
        }

        .btnActive {
          width: 230px;
          position: absolute;
          bottom: 0px;
          left: 0px;

          @media screen and (max-width: 800px) {
            margin-top: 30px;
            width: 290px;
          }
        }

        .btnActive:hover {
          display: none;
        }

        .btnHover {
          width: 230px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          // display: none;

          @media screen and (max-width: 800px) {
            margin-top: 30px;
            width: 290px;
          }
        }
      }
    }
  }
}

//block hero 2

.block.hero.style-2 {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    margin: 162px 0px;

    @media screen and (max-width: 816px) {
      margin: 108px 0px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 1297px;
    gap: 65px;

    @media screen and (max-width: 1303px) {
      width: 1000px;
    }

    @media screen and (max-width: 1022px) {
      width: 840px;
      margin-left: 50px;
    }

    @media screen and (max-width: 885px) {
      width: 788px;
      margin-left: 5px;
      gap: 15px;
    }

    @media screen and (max-width: 816px) {
      flex-direction: column;
      // margin-left: 167px;
      width: auto;
    }

    @media screen and (max-width: 668px) {
      width: auto;
    }

    @media screen and (max-width: 618px) {
      justify-content: center;
      flex-direction: column;
      margin: auto;
      gap: 0px;
    }
    @media screen and (max-width: 516px) {
      width: 450px;
      margin: auto;
    }

    @media screen and (max-width: 466px) {
      justify-content: center;
      flex-direction: column;
      gap: 0px;
      width: auto;
    }

    @media screen and (max-width: 375px) {
      justify-content: center;
      flex-direction: column;
      gap: 0px;
    }
  }

  .col {
    @media screen and (max-width: 618px) {
      margin-bottom: 50px;
    }

    &:nth-child(2) {
      width: 400px;
      border-top: 1.4px solid $sec-color-lightgrey;
      border-bottom: 1.4px solid $sec-color-lightgrey;
      padding-top: 30px 0px;
      margin-left: 100px;
      padding-top: 48px;

      @media screen and (max-width: 1303px) {
        margin-left: 45px;
        padding-top: 64px;
        width: 419px;
      }

      @media screen and (max-width: 1022px) {
        margin-left: 45px;
        padding-top: 35px;
        width: 419px;
      }

      @media screen and (max-width: 1016px) {
        margin-left: 45px;
        padding-top: 35px;
        width: 419px;
      }

      @media screen and (max-width: 885px) {
        padding-top: 33px;
      }

      @media screen and (max-width: 816px) {
        margin-top: 45px;
        padding-bottom: 90px;
        margin-left: 3px;
        width: 667px;
      }

      @media screen and (max-width: 668px) {
        padding-bottom: 90px;
        width: 619px;
      }

      @media screen and (max-width: 618px) {
        margin: 0px;
        padding-bottom: 90px;
        width: 517px;
      }
      @media screen and (max-width: 516px) {
        margin: auto;
        width: 393px;
      }

      @media screen and (max-width: 466px) {
        margin: 0px;
        padding-bottom: 90px;
        padding-left: 1px;
        width: 406px;
      }

      @media screen and (max-width: 375px) {
        margin: 0px;
        padding-bottom: 90px;
        padding-left: 20px;
        width: 350px;
      }

      h1 {
        color: $primary-color-grey;
        font-family: $h1;
        font-size: 60px;
      }

      p {
        font-size: 20px;
        font-family: $body;
        line-height: 33px;
        color: #5b5a62;
        margin-top: 30px;
        margin-bottom: 45px;

        @media screen and (max-width: 1303px) {
          line-height: 37px;
          margin-bottom: 56px;
        }
        @media screen and (max-width: 816px) {
          line-height: 45px;
          font-size: 25px;
          width: 611px;
        }
        @media screen and (max-width: 668px) {
          width: 588px;
        }
        @media screen and (max-width: 618px) {
          width: 501px;
        }
        @media screen and (max-width: 516px) {
          width: 450px;
        }
        @media screen and (max-width: 375px) {
          width: 318px;
        }
      }

      .btn.style-1 {
        @include btn($btn: basic);
      }
    }
  }
  .desktop.portrait {
    width: 634px;

    @media screen and (max-width: 1303px) {
      display: none;
    }
  }

  .tablet.portrait {
    display: none;

    @media screen and (max-width: 1303px) {
      display: flex;
      width: 363px;
    }

    @media screen and (max-width: 816px) {
      display: none;
    }
  }

  .mobile.portait {
    display: none;

    @media screen and (max-width: 816px) {
      display: flex;
      width: 667px;
    }

    @media screen and (max-width: 668px) {
      width: 619px;
    }

    @media screen and (max-width: 618px) {
      width: 517px;
    }

    @media screen and (max-width: 516px) {
      width: 450px;
    }

    @media screen and (max-width: 466px) {
      width: 406px;
    }

    @media screen and (max-width: 375px) {
      width: 350px;
    }
  }
}

//block hero 3

.block.hero.style-3 {
  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 664px;
    height: 45px;
    border-bottom: 1.2px solid $sec-color-lightgrey;
    display: flex;

    @media screen and (max-width: 1295px) {
      width: 360px;
    }
    @media screen and (max-width: 1022px) {
      width: 124px;
    }
    @media screen and (max-width: 885px) {
      width: 107px;
    }
    @media screen and (max-width: 816px) {
      display: none;
    }
  }

  .wrapper {
    padding-bottom: 70px;
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 1297px;
    justify-content: space-between;

    @media screen and (max-width: 1295px) {
      width: 1000px;
    }

    @media screen and (max-width: 1022px) {
      width: 897px;
    }

    @media screen and (max-width: 885px) {
      width: 797px;
    }

    @media screen and (max-width: 816px) {
      flex-direction: column;
      width: auto;
      gap: 20px;
    }

    .col {
      display: flex;
      justify-content: flex-start;

      @media screen and (max-width: 816px) {
        justify-content: center;
      }

      :nth-child(3) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  h1 {
    font-family: $h1;
    color: $primary-color-grey;
    font-size: 42px;
    width: 358px;
    line-height: 45px;

    @media screen and (max-width: 1022px) {
      font-size: 50px;
      width: 419px;
      line-height: 50px;
      margin-left: 55px;
    }
    @media screen and (max-width: 885px) {
      margin-left: 0px;
      line-height: 50px;
    }
    @media screen and (max-width: 375px) {
      width: 350px;
      text-align: center;
    }
  }

  .btn.style-1 {
    background: white;
    border: 1px solid #33323d;
    color: #33323d;
    font-size: 16px;
    font-family: "Public Sans";
    padding: 18px 35px;
    text-decoration: none;
    height: 54px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-top: 15px;

    @media screen and (max-width: 1022px) {
      padding: 18px 32px;
    }
    @media screen and (max-width: 816px) {
      padding: 23px 29px;
      height: 63px;
    }
  }
}

footer {
  display: flex;
  // align-items: center;
  // justify-content: space-around;
  background-color: $primary-color-grey;

  .row {
    height: 106px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;

    @media (max-width: 1379px) {
      width: 1300px;
      gap: 100px;
      padding: 0px 60px;
    }

    @media (max-width: 1272px) {
      width: 1102px;
      padding: 0px 60px;
    }

    @media (max-width: 1074px) {
      width: 1000px;
      padding: 0px 34px;
    }

    @media (max-width: 977px) {
      width: 944px;
      padding: 0px 38px;
    }

    @media (max-width: 902px) {
      width: 887px;
      padding: 0px 38px;
    }

    @media (max-width: 850px) {
      width: 800px;
      padding: 0px 2px;
    }

    @media (max-width: 790px) {
      width: 750px;
      padding: 0px 2px;
    }

    .col {
      display: flex;
      justify-content: center;
      width: auto;
      align-items: center;

      @media (max-width: 620px) {
        padding-bottom: 33px;
        flex-direction: column;
      }

      // &:nth-child(2) {
      //   width: 500px;
      //   flex-direction: row;
      //   display: flex;
      //   align-self: center;
      //   justify-content: center;
      // }

      &:nth-child(3) {
        height: 100px;
        width: 400px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;

        @media (max-width: 790px) {
          margin-right: 45px;
        }

        @media (max-width: 620px) {
          width: 331px;
        }
      }
    }

    img {
      width: 100px;
      margin-right: 57px;


    @media (max-width: 620px) {
      width: 120px;
    }

    }
  }

  .navigation {
    gap: 37px;

    @media (max-width: 790px) {
      gap: 30px;
    }

    @media (max-width: 620px) {
      flex-direction: column;
      text-align: center;
      gap: 43px;
    }
  }

  ul {
    text-decoration: none;
    display: flex;
    gap: 15px;
  }

  li {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $body;
    color: white;
    list-style: none;
    font-size: 15px;
    letter-spacing: 3px;
  }

  i.fab.fa-github,
  i.fab.fa-twitter,
  i.fab.fa-linkedin {
    color: white;
    font-size: 30px;

    @media (max-width: 620px) {
      font-size: 45px;
    }
  }
}
