$primary-color-grey: #33323d;
$primary-color-blue: #203a4c;
$primary-color-cyan: #5fb4a2;
$sec-color-verylightgrey: #fafafa;
$sec-color-lightgrey: #eaeaeb;
$sec-color-brightred: #f43030;
$h1: "Ibarra Real Nova", serif;
$body: "Public Sans";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page.wrapper{
  overflow: hidden;
}

nav {
  height: 80px;
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .wrapper {
  height: 100%;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
nav .row,
nav .col {
  display: flex;
  align-items: center;
  height: auto;
}
nav .col.left {
  justify-content: flex-start;
}
nav .row {
  justify-content: space-between;
  max-width: 1440px;
  height: 100%;
}
nav .col.right {
  justify-content: flex-end;
}

nav li {
  text-decoration: none;
  list-style: none;
}
nav li a {
  text-decoration: none;
  list-style: none;
  color: $primary-color-grey;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: $body;
  font-weight: 200;
}

.menu {
  display: flex;
  gap: 22px;
}

//block hero 1

.block.hero.style-1 {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    max-width: 1440px;
  }

  .row {
    position: relative;
    display: flex;
    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .desktop.image {
        width: 1063px;
        max-width: 1440px;
        display: flex;
      }
      

      &:nth-child(2) {
        display: flex;
        background-color: white;
        position: absolute;
        flex-direction: column;
        bottom: 0px;
        height: 355px;
        width: 440px;

        h1 {
          padding-bottom: 41px;
          font-family: $h1;
          font-weight: 700;
          font-size: 50px;
          letter-spacing: -0.45px;
          line-height: 50px;
          color: $primary-color-grey;
        }

        a {
          display: flex;
        }

        img {
          width: 200px;
          position: absolute;
          bottom: 0px;
          left: 0px;
        }
      }
    }
  }
}
